.fc-timegrid-slots {
    tr {
        border: 2px solid #d6e8f9;
    }
}

.fc-timegrid-axis {
    background-color: #f1f6fb;
    border: none !important;
}

.fc-scrollgrid {
    border-top: 1px solid #d6e8f9 !important;
}